.bottom-header {
  position:relative;
  bottom:-58px; 
  right:0px;
  left:0px;
  display:flex;
  flex-direction:row;
  flex-shrink:0;
  background-color:black;
  margin: 400px 0px 0px 0px;
  margin-right:-8.35px;
  margin-left:-9px;
} 

.left-b-section{
  flex:0.5;
  display:flex;
}

.right-b-section{
  flex:0.5;
  display:flex;
}

.email{
  font-family:Roboto, Arial;
  font-size:20px;
  color:gray;
  width:50px;
}

.github{
  font-family:Roboto, Arial;
  font-size:20px;
  color:gray;
  width:100px;
  margin-left: 470px;
  text-decoration: none;
  margin-top:40px;
}

.github-img{

  width:35px;
  height:35px;
  margin-left:-50px;
  margin-top: -20px;
  opacity: 0.8;
  border-radius:20px;
}

.linkedIn{
  font-family:Roboto, Arial;
  font-size:20px;
  color:gray;
  right:0px;
  width:400px;
  margin-left:70px;
  text-decoration:none;

}

.rights{
  width:100px;
  margin-left:120px;
  vertical-align: center;
  color:white;
}



.LinkedIn-img{
  height:35px;
  width:35px;
  margin-left:130px;
  margin-top:23px;
}

.LinkedIn-img:hover{
  width:50px;
  height:50px;
  cursor:pointer;
  transition: 0.5s
}

.github-img:hover{
  height:50px;
  width:50px;
  cursor:pointer;
  transition: 0.5s
}

  
